@media (min-width: 376px) {
  #mobile_intro {
    display: none;
  }
  #per_mobile {
    display: none;
  }
  #introbox_mobile {
    display: none;
  }
  #stockInfo_mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
    width: 100%;
  }

  /*제품 인트로*/

  #wrap_introStock {
    width: 94%;
    margin-top: 25px;
  }
  #introduction {
    height: 270px;
  }
  #intro_left > iframe {
    height: 100%;
  }
  #introduction > #intro_left {
    width: 423px;
    height: 245px;
  }
  #introduction > #intro_right {
    width: 250px;
    height: 100%;
    padding-left: 20px;
  }
  #introduction > #intro_right > #p_name {
    font-size: 14px;
  }
  #intro_right > div > #progressBar {
    height: 7px;
  }
  #intro_right > div > p {
    letter-spacing: 0;
    font-size: 20px;
  }
  #intro_btnGroup {
    height: auto;
  }
  #intro_btnGroup > .reveal {
    position: absolute;
    top: 300px;
    left: 80%;
  }
  #btnInvest {
    width: 137px;
    height: 34px;
    font-size: 10px;
  }
  #btnEnt {
    width: 100%;
    height: 26px;
  }
  #btnLike {
    width: 34px;
    height: 34px;
  }
  #btnLike > img {
    width: 18px;
    height: 17px;
  }
  #btnShare {
    width: 34px;
    height: 34px;
  }
  #btnShare > img {
    width: 18px;
    height: 17px;
  }

  /*파란색 배너*/
  #wrap_stock {
    width: 92%;
  }
  #stockInfo {
    padding: 16px 60px;
    margin-top: 40px;
  }
  #stockInfo > #btnStock {
    width: 112px;
    height: 32px;
  }
  /*본문*/
  #storyContainer {
    max-width: 94%;
  }
  #storyContainer > #s_left {
    max-width: 70%;
    padding: 23px 60px;
    padding-top: 60px;
  }
  #s_left > .p_imgs > img {
    width: 320px;
    height: 178px;
  }
  #storyContainer > #s_right {
    max-width: 30%;
    margin-left: 20px;
  }
  #etp_infoBox {
    width: 100%;
    padding: 25px;
    margin-bottom: 30px;
  }
  #ent_name {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #ent_name > img {
    width: 24px;
    height: 24px;
  }
  #etp_infoBox > hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #ent_pop {
    width: 700px;
    left: calc(50% - 350px);
    height: auto;
    padding: 40px;
  }
  #ent_pop > textarea {
    margin-bottom: 15px;
    padding: 13px;
  }

  #s_right > .s_rightBoxs {
    width: 100%;
  }

  /*추천프로젝트*/
  #p_recomContainer {
    width: 100%;
  }
  #p_recomContainer > .cards {
    grid-template-columns: repeat(4, minmax(180px, auto));
  }
  .cards_contents {
    width: 151px;
  }
  .cards_contents > a > .p_thumnail > img {
    max-width: 151px;
    min-width: 151px;
    max-height: 214px;
    min-height: 214px;
  }

  .cards_contents > a > .p_infoBox {
    height: 35px;
  }

  #recomSubTitle {
    margin-bottom: 20px;
    letter-spacing: 0;
  }

  @media (max-width: 375px) {
    #mobile_intro {
      width: 100%;
      margin-top: 40px;
    }
    #p_name {
      display: none;
    }
    #p_name_mobile {
      font-size: 14px;
      padding: 0px 5px 5px 15px;
    }
    #mobile_intro > iframe {
      border: 0;
      width: 100%;
      height: 189px;
      padding-left: 15px;
      padding-right: 15px;
    }
    #intro_left {
      display: none;
    }
    #wrap_introStock {
      width: 92%;
    }
    #introduction {
      height: 143px;
      padding: 10px 15px 20px 15px;
    }
    #introduction > #intro_right {
      padding-left: 0px;
      width: 100%;
    }

    #dDay {
      display: none;
    }
    #investNum {
      display: none;
    }
    #intro_right > div > p {
      display: none;
    }
    #intro_right span {
      margin-left: 4px;
    }
    #intro_invest {
      justify-content: flex-end;
    }
    #intro_invest > #moin_money {
      display: none;
    }
    #introbox_mobile > div > p {
      font-size: 19px;
    }
    #intro_btnGroup {
      margin-top: 10px;
      width: 90%;
      margin-left: 10px;
    }
    #btnInvest {
      width: 132px;
      height: 33px;
    }

    #stockInfo {
      display: none;
    }
    .tab_area > ul {
      display: grid;
      padding: 0;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
    .tab_area > ul > li {
      font-size: 14px;
    }
    .conbox {
      width: 100%;
    }
    .conbox > div > p {
      font-size: 14px;
    }
    #s_right {
      display: none;
    }
    #stockInfo_mobile {
      padding: 15px 24px;
      height: auto;
    }
    #etp_title {
      margin-right: 10px;
      font-size: 14px;
    }
    #btninvest_mobile {
      width: 40%;
      margin-left: 14px;
      font-size: 12px;
      border: none;
      border-radius: 10px;
      box-shadow: 10px 10px 11px #e2e3e4, -10px -10px 11px #fff;
      background-image: linear-gradient(99deg, #e8ebf2, #f2f3f7);
      font-weight: 500;
      line-height: 1.46;
      letter-spacing: -0.48px;
      color: #575757;
    }

    #btnEnt_mobile {
      width: 40%;
      font-size: 12px;
      margin-left: 14px;
      border: none;
      border-radius: 10px;
      box-shadow: 10px 10px 11px #e2e3e4, -10px -10px 11px #fff;
      background-image: linear-gradient(99deg, #e8ebf2, #f2f3f7);
      font-weight: 500;
      line-height: 1.46;
      letter-spacing: -0.48px;
      color: #575757;
    }
    #tab1 > div > p > span {
      margin-left: 20px;
    }
    #ent_words {
      font-size: 10px;
      margin-bottom: 10px;
    }
    #tab2 > .s_rightBoxs {
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-top: 30px;
      padding: 10px 20px;
    }
    .right_rName {
      font-size: 12px !important;
    }
    .right_rPckg {
      font-size: 10px !important;
      margin: 0;
    }
    #storyContainer {
      width: 100%;
    }
    #storyContainer > #s_left {
      max-width: 100%;
      padding: 10px 20px;
      margin: 0 auto;
    }
    #s_left > .p_imgs > img {
      width: 100%;
      height: auto;
    }
    #p_recomContainer {
      margin-top: 30px;
    }
    .cards_contents {
      width: 70px;
      height: 98px;
    }
    .p_thumnail > img {
      max-width: 70px !important;
      min-width: 70px !important;
      max-height: 98px !important;
      min-height: 98px !important;
      border-radius: 6px;
    }
    .p_infoBox {
      display: none;
    }
    #p_recomContainer > .cards {
      grid-template-columns: repeat(4, minmax(80px, auto));
    }
    #ent_pop_m {
      position: absolute;
      left: calc(50% - 50%);
      top: calc(50% - 550px / 2);
      width: 100%;
      height: auto;
      background: #fff;
      padding: 20px 30px;
      z-index: 2;
    }
    .tab_area {
      width: 100%;
    }
    hr {
      display: none;
    }
    #intro_btnGroup > .reveal {
      position: absolute;
      top: 340px;
      left: 59%;
    }
  }
}
